* {
    margin: 0px 10px;
    padding: 0%;
}

body {
    height: 1580px;
}

.home {
    width: 100%;
    height: 100vh;
    background-color: white;

}

.home .nav {
    background-color: white;
    height: 50px;
}


.home .nav ul {
    list-style: none;
}

.home .nav ul li {
    float: right;
    margin: 10px;
    font-size: 22px;
}

.home .nav ul li a {
    color: gray;
    text-decoration: none;
}

.home .nav .h1 {
    color: #ff8c00;
    float: left;
    font-size: 32px;

}

/*end nav
*/
.home .center .div1 {
    width: 95%;
    height: 400px;
    margin-bottom: 20px;
}

.home .center .div1 img {
    width: 100%;
    height: 100%;
}

.home .center .div2 {
    width: 14.5%;
    float: left;
    text-align: center;
    height: 120px;
}

.home .center .div2 img {
    width: 100%;
    height: 100%;
}


.row {
    width: 100%;
    height: 350px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}

.row .n1 {
    margin-top: 20px;
    width: 30%;
    height: 400px;
}

.row .n1 img {
    width: 60px;
    float: left;


}

.row .n1 h1 {
    padding: 20px;
    font-size: 20px;



}

.row .n1 p {

    font-size: medium;
    padding: 10px;

}

.row .n1 button {

    padding: 10px 15px;
    margin: 20px;
    background-color: rgb(255, 148, 9);
    color: white;
    border: rgb(255, 148, 9);

}

.part {
    width: 100%;
    height: 400px;
    background-color: white;
}

.part .h1 {
    font-size: 12px;
    color: orange;
    position: relative;

}

.part .h1 ::after {

    content: "";
    width: 80%;
    height: 16px;
    background-color: rgb(235, 225, 225);
    position: absolute;
    top: 7px;
    Left: 230px;

}

.part .row1 {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: space-around;
}

.part .row1 .n2 {
    width: 23%;
    background-color: white;
    height: 270px;
    border: 1px solid rgb(134, 127, 127);
}

.part .n2 img {
    width: 100%;
    height: 200PX;
    margin: 0px;
}

.part .n2 p {
    color: gray;
    margin: 5px;
    font-size: large;
}

.part .n2 h6 {
    color: #ff8c00;
    padding: 5px;
    font-size: 15px;
}

.row2 {
    background-color: #ff8c00;
    padding: 5px;
    display: flex;
    height: 180px;
    color: white;
    margin: 5px;
}

.row2 .n3 h2 {
    margin: 10px;
}

.row2 .n3 p {

    font-size: 15px;
    padding: 10px;

}



@media(max-width:900px) {

    .home .nav .h1 {
        color: #ff8c00;
        float: left;
        font-size: 30px;

    }

    .home .nav ul li {
        margin: 5px;
        font-size: 16px;
    }


    /*end nav
*/


    .home .center .div2 {
        width: 13%;
    }

    .row {
        height: 820px;
    }

    .row .n1 {

        margin-top: 50px;
        width: 40%;
    }

    .row .n1 img {

        width: 60px;
        float: left;
    }

    .row .n1 h1 {

        font-size: 18px;
    }

    .part {
        width: 100%;
        height: 650px;
        background-color: white;
    }

    .part .row1 .n2 {
        width: 40%;
        margin-top: 10px;

    }

    .part .n2 h6 {

        padding: 0px;
    }

    .row2 {
        height: 260px;
    }

    .row2 .n3 h2 {
        margin: 10px 30px;
    }

    .row2 .n3 p {
        padding: 4px;

    }




}


@media(max-width:730px) {
    * {
        margin: 0px 5px;
    }

    .home .nav .h1 {
        font-size: 22px;
    }

    .home .nav ul li {
        margin: 12px 0px;
        font-size: 15px;
    }


    .row .n1 img {

        width: 50px;

    }

    /*end nav
*/
    .home .center .div2 {
        width: 25%;
        margin: 15px;
    }




    .part .row1 {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
        justify-content: space-around;
    }

    .part .row1 .n2 {
        width: 40%;
        height: 280px;

    }

    .part .n2 img {
        width: 100%;
        height: 200PX;
        margin: 0px;
    }

    part .n2 h6 {
        color: #ff8c00;
        padding: 0px;
        font-size: 15px;
    }
    .row2 {
        
        padding:10px;
        width: 550px ;
        height: 300px;
        
        margin: 20px;
    }
    
    .row2 .n3 h2 {
        margin: 10px;
    }
    
    .row2 .n3 p {
    
        font-size: 15px;
        padding: 10px;
    
    }
}

@media(max-width:550px) {
    * {
        margin: 0px 4px;
    }

    .home .nav .h1 {
        font-size: 18px;
    }

    .home .nav ul li {
        margin: 12px 0px;
        font-size: 10px;

    }


    /*end nav*/

    .home .center .div2 {
        width: 35%;
        margin: 15px 20px;
    }

    .row {
        height: 1300px;
    }

    .row .n1 {
        margin-top: 40px;
        width: 70%;
    }

    .row .n1 h1 {
        padding: 10px;
        font-size: 20px;
    }

    .row .n1 p {
        font-size: 20px;
        padding: 5px;
    }

    .part {
        width: 100%;
        height: 100vh;
        background-color: white;
    }

    .part .h1 {
        font-size: 12px;
        color: orange;
        position: relative;

    }

    .part .h1 ::after {

        content: "";
        width: 80%;
        height: 16px;
        background-color: rgb(235, 225, 225);
        position: absolute;
        top: 7px;
        Left: 230px;

    }

    .part .row1 {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
        justify-content: space-around;
    }

    .part .row1 .n2 {
        width: 45%;

        height: 300px;

    }

    .part .n2 img {
        width: 100%;
        height: 200PX;
        margin: 0px;
    }

    .part .n2 h6 {
        color: #ff8c00;
        padding: 5px;
        font-size: 15px;
    }
    .row2 {
        height: 320px;
    }
    

}